
<tbody id="tb_body_replace">
    {#POLICLINICO#}
        <tr>
            <th rowspan="7" style="text-align: center; vertical-align: middle">POLICLÍNICO</th>
            <th colspan="2" style="text-align: left; vertical-align: middle">Consultas de medicina</th>
            <th style="text-align: center; vertical-align: middle">1</th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Sintomático Respiratorio + 21 días (SR+21)</th>
            <th style="text-align: center; vertical-align: middle">2</th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Examen Directo I y II realizados</th>
            <th style="text-align: center; vertical-align: middle">3</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Total de positivos</th>
            <th style="text-align: center; vertical-align: middle">4</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Cultivos realizados</th>
            <th style="text-align: center; vertical-align: middle">5</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Total de positivos</th>
            <th style="text-align: center; vertical-align: middle">6</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Positivos con prueba de sensibilidad realizada</th>
            <th style="text-align: center; vertical-align: middle">7</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>

    {#ESTUDIOS A GRUPOS VULNERABLES#}
        <tr>
            <th rowspan="11" style="text-align: center; vertical-align: middle">ESTUDIOS A GRUPOS VULNERABLES</th>
            <th colspan="2" style="text-align: left; vertical-align: middle">Identificados</th>
            <th style="text-align: center; vertical-align: middle">8</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">De ello: - 5 años</th>
            <th style="text-align: center; vertical-align: middle">9</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Pruebas de Tuberculina realizadas</th>
            <th style="text-align: center; vertical-align: middle">10</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">De ello: - 5 años</th>
            <th style="text-align: center; vertical-align: middle">11</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Positivas</th>
            <th style="text-align: center; vertical-align: middle">12</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">De ello: - 5 años</th>
            <th style="text-align: center; vertical-align: middle">13</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th rowspan="4" style="text-align: center; vertical-align: middle">Terapia Preventiva con Isoniazida</th>
            <th style="text-align: left; vertical-align: middle">Iniciaron</th>
            <th style="text-align: center; vertical-align: middle">14</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">De ello: - 5 años</th>
            <th style="text-align: center; vertical-align: middle">15</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th style="text-align: left; vertical-align: middle">Terminaron</th>
            <th style="text-align: center; vertical-align: middle">16</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">De ello: - 5 años</th>
            <th style="text-align: center; vertical-align: middle">17</th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Cotrimoxazol a pacientes coinfectados</th>
            <th style="text-align: center; vertical-align: middle">18</th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <th style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>

    {#HOSPITAL#}
        <tr>
            <th rowspan="6" style="text-align: center; vertical-align: middle">HOSPITAL</th>
            <th colspan="2" style="text-align: left; vertical-align: middle">Examen Directo I y II realizados</th>
            <th style="text-align: center; vertical-align: middle">19</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Total de positivos</th>
            <th style="text-align: center; vertical-align: middle">20</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Cultivos realizados</th>
            <th style="text-align: center; vertical-align: middle">21</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Total de positivos</th>
            <th style="text-align: center; vertical-align: middle">22</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Positivos con prueba de sensibilidad realizada</th>
            <th style="text-align: center; vertical-align: middle">23</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Positivos a otras pruebas diagnósticas</th>
            <th style="text-align: center; vertical-align: middle">24</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
    {#CASOS NUEVOS DE TUBERCULOSIS#}
        <tr>
            <th rowspan="4" style="text-align: center; vertical-align: middle">CASOS NUEVOS DE TUBERCULOSIS</th>
            <th rowspan="2" style="text-align: center; vertical-align: middle">PULMONAR</th>
            <th style="text-align: center; vertical-align: middle">Bacteriologicamente confirmado</th>
            <th style="text-align: center; vertical-align: middle">25</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">Clínicamente diagnosticado</th>
            <th style="text-align: center; vertical-align: middle">26</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th rowspan="2" style="text-align: center; vertical-align: middle">EXTRA-PULMONAR</th>
            <th style="text-align: center; vertical-align: middle">Bacteriologicamente confirmado</th>
            <th style="text-align: center; vertical-align: middle">27</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">Clínicamente diagnosticado</th>
            <th style="text-align: center; vertical-align: middle">28</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>

    {#RECAÍDA DE TUBERCULOSIS#}
        <tr>
            <th rowspan="4" style="text-align: center; vertical-align: middle">RECAÍDA DE TUBERCULOSIS</th>
            <th rowspan="2" style="text-align: center; vertical-align: middle">PULMONAR</th>
            <th style="text-align: center; vertical-align: middle">Bacteriologicamente confirmado</th>
            <th style="text-align: center; vertical-align: middle">29</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">Clínicamente diagnosticado</th>
            <th style="text-align: center; vertical-align: middle">30</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th rowspan="2" style="text-align: center; vertical-align: middle">EXTRA-PULMONAR</th>
            <th style="text-align: center; vertical-align: middle">Bacteriologicamente confirmado</th>
            <th style="text-align: center; vertical-align: middle">31</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">Clínicamente diagnosticado</th>
            <th style="text-align: center; vertical-align: middle">32</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>

    {#CASO PREVIAMENTE TRATADO#}
        <tr>
            <th rowspan="2" style="text-align: center; vertical-align: middle">CASO PREVIAMENTE TRATADO</th>
            <th colspan="2" style="text-align: center; vertical-align: middle">Fracaso terapeútico</th>
            <th style="text-align: center; vertical-align: middle">33</th>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Pérdida al seguimiento</th>
            <th style="text-align: center; vertical-align: middle">34</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>

        <tr style="border-right: hidden;">
            <th colspan="14" style="text-align: center; border-left: hidden; border-right: hidden"></th>
        </tr>
        <tr>
            <th colspan="14" style="text-align: center; background-color: #a7a7a7">RED DE LABORATORIOS</th>
        </tr>
        <thead>
            <tr>
                <th colspan="3" rowspan="2" style="text-align: center; vertical-align: middle">INDICADORES</th>
                <th  rowspan="2" style="text-align: center; vertical-align: middle">FILA</th>
                <th colspan="9" style="text-align: center; vertical-align: middle">ESTRATIFICACIÓN SEGÚN RIESGO INDIVIDUAL</th>
                <th  rowspan="2" style="text-align: center; vertical-align: middle">TOTAL</th>
            </tr>
            <tr>
                <th style="text-align: center; vertical-align: middle">Contactos</th>
                <th style="text-align: center; vertical-align: middle">Reclusos Exreclusos</th>
                <th style="text-align: center; vertical-align: middle">Personas Viviendo con VIH</th>
                <th style="text-align: center; vertical-align: middle">Trabajadores SNS</th>
                <th style="text-align: center; vertical-align: middle">Extranjero</th>
                <th style="text-align: center; vertical-align: middle">Fumadores</th>
                <th style="text-align: center; vertical-align: middle">Diabetes Mellitus</th>
                <th style="text-align: center; vertical-align: middle">Alcohólicos</th>
                <th style="text-align: center; vertical-align: middle">Otros</th>
            </tr>

            <tr>
                <th colspan="3" style="text-align: center">A</th>
                <th style="text-align: center">B</th>
                <th style="text-align: center">1</th>
                <th style="text-align: center">2</th>
                <th style="text-align: center">3</th>
                <th style="text-align: center">4</th>
                <th style="text-align: center">5</th>
                <th style="text-align: center">6</th>
                <th style="text-align: center">7</th>
                <th style="text-align: center">8</th>
                <th style="text-align: center">9</th>
                <th style="text-align: center">10</th>
            </tr>
        </thead>
    {#CULTIVOS REALIZADOS POR TÉCNICAS#}
        <tr>
            <th rowspan="3" style="text-align: center; vertical-align: middle">CULTIVOS REALIZADOS POR TÉCNICAS</th>
            <th colspan="2" style="text-align: center; vertical-align: middle">Convencional</th>
            <th style="text-align: center; vertical-align: middle">35</th>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
            <td align="center" style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Rápido en medio líquido</th>
            <th style="text-align: center; vertical-align: middle">36</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">Gene-Xpert</th>
            <th style="text-align: center; vertical-align: middle">37</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
    {#PRUEBAS DE SUSCEPTIBILIDAD#}
        <tr>
            <th rowspan="2" style="text-align: center; vertical-align: middle">PRUEBAS DE SUSCEPTIBILIDAD</th>
            <th rowspan="2" style="text-align: center; vertical-align: middle">MÉTODOS</th>
            <th style="text-align: center; vertical-align: middle">Fenotípicos (proporciones y nitrato reductasa)</th>
            <th style="text-align: center; vertical-align: middle">38</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
        <tr>
            <th style="text-align: center; vertical-align: middle">Genotípicos (genotype)</th>
            <th style="text-align: center; vertical-align: middle">39</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
        </tr>
    {#CASOS DETECTADOS#}
        <tr>
            <th rowspan="5" style="text-align: center; vertical-align: middle">CASOS DETECTADOS</th>
            <th colspan="2" style="text-align: left; vertical-align: middle">Monorresistentes </th>
            <th style="text-align: center; vertical-align: middle">40</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Multidrogorresistencia (MDR)</th>
            <th style="text-align: center; vertical-align: middle">41</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Polirresistentes</th>
            <th style="text-align: center; vertical-align: middle">42</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Extensamente resistentes (XDR)</th>
            <th style="text-align: center; vertical-align: middle">43</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: left; vertical-align: middle">Resistencia a la rifampicina</th>
            <th style="text-align: center; vertical-align: middle">44</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: left; vertical-align: middle">Determinaciones (patrones genéticos)</th>
            <th style="text-align: center; vertical-align: middle">45</th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <th style="text-align: center; vertical-align: middle"></th>
            <td style="text-align: center; vertical-align: middle"></td>
        </tr>

    <tr style="border-right: hidden;">
        <th colspan="14" style="text-align: center; border-left: hidden; border-right: hidden"></th>
    </tr>
    <tr>
        <th colspan="14" style="text-align: center; background-color: #a7a7a7">CONTROL DE LA CALIDAD EN LA RED</th>
    </tr>
    <thead>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">BACILOSCOPIAS</th>
            <th style="text-align: center; vertical-align: middle">FILA</th>
            <th style="text-align: center; vertical-align: middle">NÚMERO</th>
            <th colspan="8" style="text-align: center; vertical-align: middle">CULTIVOS</th>
            <th style="text-align: center; vertical-align: middle">FILA</th>
            <th style="text-align: center; vertical-align: middle">NÚMERO</th>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center; vertical-align: middle">C</th>
            <th style="text-align: center; vertical-align: middle">D</th>
            <th style="text-align: center; vertical-align: middle; color: red">11</th>
            <th colspan="8" style="text-align: center; vertical-align: middle">E</th>
            <th style="text-align: center; vertical-align: middle">F</th>
            <th style="text-align: center; vertical-align: middle; color: red">12</th>
        </tr>
    </thead>

    <tr>
        <th colspan="2" style="text-align: center; vertical-align: middle">Determinaciones (número de láminas analizadas)</th>
        <th style="text-align: center; vertical-align: middle">46</th>
        <th style="text-align: center; vertical-align: middle;"></th>
        <th colspan="4" rowspan="5" style="text-align: center; vertical-align: middle">BACILOSCOPIA</th>
        <th colspan="4" style="text-align: left; vertical-align: middle">(-) / cultivo (+)</th>
        <th style="text-align: center; vertical-align: middle;">49</th>
        <th style="text-align: center; vertical-align: middle;"></th>
    </tr>
    <tr>
        <th rowspan="2" style="text-align: center; vertical-align: middle">CONCORDANCIA DE LÁMINAS (número)</th>
        <th style="text-align: left; vertical-align: middle">Positivas</th>
        <th style="text-align: center; vertical-align: middle;">47</th>
        <th style="text-align: center; vertical-align: middle;"></th>

        <th colspan="4" style="text-align: left; vertical-align: middle">(+) / cultivo (+)</th>
        <th style="text-align: center; vertical-align: middle;">50</th>
        <th style="text-align: center; vertical-align: middle;"></th>
    </tr>
    <tr>
        <th style="text-align: left; vertical-align: middle">Negativas</th>
        <th style="text-align: center; vertical-align: middle;">48</th>
        <th style="text-align: center; vertical-align: middle;"></th>

        <th colspan="4" style="text-align: left; vertical-align: middle">(+) / cultivo (-)</th>
        <th style="text-align: center; vertical-align: middle;">51</th>
        <th style="text-align: center; vertical-align: middle;"></th>
    </tr>
    <tr>
        <th colspan="4" rowspan="2" style="background: repeating-linear-gradient(135deg, grey, grey 1px, white 1px, white 5px)"></th>
        <th colspan="4" style="text-align: left; vertical-align: middle">(+) cultivo contaminado</th>
        <th style="text-align: center; vertical-align: middle;">52</th>
        <th style="text-align: center; vertical-align: middle;"></th>
    </tr>
    <tr>
        <th colspan="4" style="text-align: left; vertical-align: middle">(+) cultivo no realizado</th>
        <th style="text-align: center; vertical-align: middle;">53</th>
        <th style="text-align: center; vertical-align: middle;"></th>
    </tr>

</tbody>
